@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

header {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50%;
    background-color: rgba(124, 97, 71, 0.479);
}

h1, h2, h4 {
    font-family: 'DM Sans', Serif;
}

h1 {
    font-size: 75px;
    background-color: black;
    color: white;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

#logo {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    float: left;
    padding: 10px;
}

#slogan {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    justify-content: right;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 0;
    font-size: 25px;
    font-family: 'Roboto Serif', serif;
}

nav {
    display: grid;
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    padding-top: 2.5rem;
    padding-right: 1rem;
    margin-top: 0;
    justify-content: right;
}

.link {
    padding: 35px;
    font-size: 25px;
}

.navmenu {
    display: flex;
}

ul {
    list-style: none;
}

a, #promotion {
    font-family: 'Roboto Serif', Serif;
    text-decoration: none;
    color: black;
}

#hero {
    position: relative;
    width: 100%;
}

#promotion {
    font-weight: bold;
    font-size: 50px;
    display: absolute;
    color:rgba(134, 104, 76, 0.651)
}

#sock, #tie, #set {
    width: 350px;
    height: 350px;
}

#box {
    display: flex;
    justify-content: center;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    transition: 0.25s;
}

#shop:hover {
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.151);
}

/*---------------subscribe form--------------*/

.subscribe {
    margin-left: 20%;
    margin-right: 20%;
}

#subscribe {
    text-align: center;
    background-color: rgb(156, 29, 6);
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

fieldset {
    border: 2px solid rgb(177, 174, 174);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-top: 1.5rem;
    text-align: center;
    border-width: 3px;
}

label {
    font-family: 'Roboto serif', serif;
    padding: 15px;
    font-weight: bold;
}

p {
    font-family: 'Roboto serif', serif;
    font-size: 15px;
}

#button {
    margin-bottom: 1rem;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color:rgba(79, 83, 80, 0.692);
    border-radius: 5px;
    color: white;
    border: none;
}

#button:hover {
    background-color: rgba(121, 124, 122, 0.692);
}

/*---------------shopping page--------------*/

#grid {
    display: grid;
    grid-template-columns: 15% 80%;
}

#filters {
    padding: 15px;
    border: 2px solid black;
}

.list {
    padding: 10px;
}

.box {
    height: 10px;
    width: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#color {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.gray {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.container {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 1;
  flex-wrap: wrap;
  justify-content: center;
}

section {
    margin: 15px;
}

#category {
  margin: 10px;
}

/*---------------shopping cart page--------------*/

#cart {
    text-align: center;
    font-size: 30px;
}

#item-count, #shopping {
    text-align: center;
}

#shopping {
    margin-top: 150px;
}

#cart-img {
    position: relative;
    width: 50%;
}

/*---------------footer--------------*/

footer {
    font-family: 'Roboto serif', serif;
    text-align: center;
    background-color: rgba(124, 97, 71, 0.479);
    padding: 15px;
    margin-top: 20px;
}