@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@media (max-width: 850px) {

    logo {
        margin: 0;
        padding: 0;
    }

    .navmenu {
        display: flex;
        flex-direction: column;
    }
    
    .navmenu li {
        display: none;
    }
    
    .open li {
        display: block;
    }

    #hamburger::before {
        content: "≡";
        padding: 0;
        margin: 0;
        float: right;
    }
    
    #hamburger.open::before {
        content: "x";
        font-family: "DM Sans", serif;
        padding: 0;
        margin: 0;
        float: right;
    }
    
    #hamburger {
        font-size: 2.5rem;
        font-weight:700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color:  rgba(47, 134, 134, 0);
        color: black;
        border: none;
    }
    
    #hamburger:hover {
        color: black;
    }
    
    .open a {
        color: black;
    }
    
    figure {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

}