/*--------------- FORM STYLING -------------*/
header, footer {
    background-color: rgba(73, 109, 5, 0.692);
    color: white;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: 0.5rem;
}

fieldset {
    margin: 2rem 0;
    border: 2px solid rgb(177, 174, 174);
    border-radius: 7px;
    padding: .5rem;
}

label {
    display: block;
}

div, #head {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

input:required {
    border-right: red;
}

#user, #review, #product, #install {
    padding: 0.75rem;
    width: 100%;
    max-width: 400px;
    background-color: rgb(223, 222, 221);
}

#button {
    margin-bottom: 1rem;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color:rgba(79, 83, 80, 0.692);
    border-radius: 5px;
    color: white;
    border: none;
}

#button:hover {
    background-color: rgba(109, 112, 110, 0.692)
}