body {
    background-color: rgb(192, 201, 198);
}

h1 {
    color: white;
    background-color: rgb(42, 42, 70);
    padding: 1.75rem;
    margin: 0;
    border: 15rem;
    border-bottom: rgb(15, 79, 104) solid 15px;
    text-align: center;
}

.center {
    display: block;
    unicode-bidi: isolate;
}

.data, .weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

h2, .icon {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 1rem;
    margin: 0;
}

.icon {
    padding: 0;
}

.alignright {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    font-weight: bold;
    background-color: white;
}

.alignleft {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
    background-color: white;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(42, 42, 70);
    margin: 0;
    padding: 20px;
}