@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(192, 201, 198);
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    background-color: rgb(42, 42, 70);
    padding: 1.75rem;
    margin: 0;
    border: 15rem;
    border-bottom: rgb(15, 79, 104) solid 15px;
    text-align: center;
    font-family: "IBM Plex Sans", serif;
    font-size: 50px;
}

.center {
    display: block;
    unicode-bidi: isolate;
}

.data, .weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: Raleway;
}

h2, .icon {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 1rem;
    margin: 0;
}

.icon {
    padding: 0;
}

.alignright {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    font-weight: bold;
    background-color: white;
    padding-left: 19px;
}

.alignleft {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
    background-color: white;
    padding-right: 19px;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(42, 42, 70);
    margin: 0;
    padding: 20px;
    font-family: "IBM Plex Sans", serif;
}