@media screen and (min-width: 700px) {

    .center {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }

    .data {
        position: absolute;
        margin: 150px;
        top: 0;
        left: 0;
        background-color: white;
        opacity: 70%;
    }

    .weather {
        position: absolute;
        margin-bottom: 15px;
        margin-right: 15px;
        bottom: 0;
        right: 0;
        opacity: 70%;
        background-color: white;
    }
}

@media screen and (min-width: 1000px) {

    .center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    picture {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}